





body {
background-color: #004f94;
background-image: url("https://www.transparenttextures.com/patterns/purty-wood.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
width: 100%;
}





/* Navigation Bar*/



nav {
    position: fixed;
    top:0;
    left: 0;
    overflow: hidden;
     width: 100%;
     height: 4.6em;
    background-color: #0068b8;
    background-image: url("https://www.transparenttextures.com/patterns/ravenna.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    margin-top: 0;
}


nav ul {
    list-style-type: none;
    margin: 0 auto;
    width: 50em;
    padding: 0;
}



nav ul li {
    float: left;

}

nav ul li a {
    display: block;
    padding: .7em;
    border: 1px solid white;
    border-radius: .5em;
    margin-top: 1em ;
    margin-left: 1.5em;
    text-decoration: none;
    background-color: white;
    color: black;
    font-variant: small-caps;

}

nav ul a:focus {
    co: #fff;
}

nav ul a:hover {
    background-color: #0068b8;
    color: white;
    border: 1px solid #0068b8;

}

nav ul a:active {
    position:relative;
    bottom: .3em;
    left: .2em;
    color: #fff;


}

/*End Navigation*/






h3 {
    color: white;
}

.theme {
color: white;
text-align: center;
margin-bottom: 1em;
font-variant: small-caps;
font-size: 2.5em;
}



.wrapper {
  width: 80%;
  margin: 2em auto;
  margin-top: 10em;
}




.button {
    display: inline-block;
    border: 4px outset  grey;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    background-color: skyblue;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}

.button:hover {                                          /* style all buttons for hover */
    background-color: cornflowerblue;
    color: white;
}

.button:active {                            /* style all buttons active */
    position: relative;
    top: 5px;
    border: 2px solid white;
}


.button-sm {
    font-size: 70%;
}

.button-md {
    font-size: 100%;
}

.button-lg {
    font-size: 150%;
}

a:link{
    text-decoration: none;
}

/* Footer */

footer {
    margin-top: 20em;
    color: #fff;
    text-align: center;
    font-size: small;
    font-variant: small-caps;


}


