<!DOCTYPE html>
<html>
<head>
    <title>Project Assignment 2: Button Web Component</title>
    <link href='http://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Crafty+Girls' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="button.css">
</head>
<body>

<a href="http://oscarrobertrodriguez.github.io/index.html">Return to Homepage</a>


<div class='wrapper'>

    <h1>Project Assignment 2: Button Web Component</h1>
    <h2 class='theme'>Standard theme</h2>

    <h3>A Basic Button</h3>
    <div class="button">Buy Now</div>

    <h3>A Button Element with the Button Class</h3>
    <button class="button">Send Mail</button>

    <h3>An Anchor with a Button Class</h3>
    <a href="#" class="button">Search</a>

    <h3>Buttons of different sizes</h3>
    <div class="button button-sm">A Small Button</div>
    <div class="button button-md">A Medium Button</div>
    <div class="button button-lg">A Large Button</div>

</div>

<footer>
<a class="footer" href="http://oscarrobertrodriguez.github.io/index.html">Return to Homepage</a>
</footer>

</body>
</html>
